/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
       Author's custom styles
       ========================================================================== */
body {
  font-size: 1em;
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  background-color: #ffe8d6;
}

#btnTop {
  width: 130px;
  height: 50px;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #f19494;
  color: #112a46;
  font-weight: 800;
  cursor: pointer;
  padding: 15px;
  border-radius: 9px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffe8d6;
  text-decoration: none;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  width: 100%;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  width: 100%;
  font-weight: 400;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.25rem;
}

.project-link,
.language-wrapper p,
.tool-wrapper p {
  text-transform: uppercase;
  font-size: 1.125rem;
}

.about-info h4 {
  font-weight: 400;
}

h3,
h4 {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  width: 100%;
}

p,
li {
  font-size: 1rem;
  line-height: 1.5;
}

span {
  font-weight: bold;
}

img {
  width: 100%;
}

figure {
  margin: 0;
}

/*****/
header,
#work,
#skills,
#about,
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: row wrap;
}

.content-wrapper {
  width: 90%;
}

#work p,
#about p {
  width: 100%;
  text-align: left;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding-top: 30px;
  padding-bottom: 60px;
}

.home-title h1 {
  padding: 0;
  margin: 0;
}

.home-title h2 {
  margin-top: 15px;
}

nav {
  margin-bottom: 60px;
}

#work {
  padding-top: 60px;
}

#skills {
  padding-bottom: 80px;
}

#about {
  padding-top: 60px;
  padding-bottom: 60px;
}

/************old*/
footer {
  background-color: #453e4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffe8d6;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  width: 55%;
}

footer h2 {
  font-family: "Madimi One", serif;
  font-weight: 800;
  font-style: normal;
}

footer .email {
  color: #ffe8d6;
}

footer .footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

footer .social-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10px;
}

footer .social-icons p {
  background-color: #ffe8d6;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 80px 10px;
}

footer .social-icons p i {
  font-size: 2rem;
  padding: 2px;
  color: #222;
}

footer .copyright {
  width: 95%;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 0;
}

.visually-hidden {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/************/

h2 {
  margin-top: 60px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  margin: 0 0 40px 0;
}

.project-description {
  margin: 0 0 30px 0;
}

.project-link {
  margin: 40px 0 60px 0;
}

#skills {
  padding-top: 80px;
}

figure {
  margin: 20px 0 40px 0;
}

.skills-header {
  margin-bottom: 20px;
}

.about-info h3 {
  margin: 40px 0 40px 0;
}

.about-text {
  margin: 0 0 30px 0;
}

#contact h3 {
  margin-bottom: 60px;
}

.contact-info {
  margin: 0 0 60px 0;
}

/**** Header ***/

header {
  background-color: #453e4f;
  color: #ffe8d6;
}

header nav ul li {
  font-family: "Madimi One", serif;
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 5px;
}

header .content-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

nav ul {
  display: flex;
  justify-content: space-between;
}

header h1,
header h2 {
  width: 100%;
}

/*** Mobile ***/
#work,
#skills {
  width: 100%;
}

#work h3 {
  width: 100%;
}

.portfolio-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: row wrap;
}

.home-portfolio-piece {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}

.scale {
  transition: 1s;
}

.scale:hover {
  transform: scale(1.5);
}

.home-portfolio-piece h4 {
  font-weight: bold;
}

.home-portfolio-piece figure {
  width: 100%;
  filter: drop-shadow(2px 3px 7px lightgrey);
}

.flex-fill {
  flex-grow: 1;
}

.but {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  background: #f19494;
  margin-top: 10px;
  display: inline-block;
  color: #112a46;
  font-weight: 800;

  text-decoration: none;
  padding: 0.75rem 3.75rem;
  text-transform: uppercase;
  font-size: 1.125rem;
}

.but:hover {
  background-color: #cac4d1;
  color: #453e4f;
}

#skills {
  background-color: #e8eff7;
}

#skills h4 {
  margin: 40px 0 40px 0;
  font-weight: bold;
}

.language-wrapper p,
.tool-wrapper p {
  background-color: #cac4d1;
  padding: 15px 0;
  margin: 20px 0;
}

.small {
  width: 30px;
  height: 30px;
  padding-right: 10px;
}

.skill i,
.tool i {
  padding-right: 20px;
  color: #222;
}

.skill {
  width: 100%;
  font-size: 35px;
}

.tool {
  width: 100%;
}

#about {
  width: 100%;
}

#profile-image {
  width: 80%;
}

/* ==========================================================================
       Helper classes
       ========================================================================== */

/*
     * Hide visually and from screen readers
     */

.hidden,
[hidden] {
  display: none !important;
}

/*
     * Hide only visually, but have it available for screen readers:
     * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
     *
     * 1. For long content, line feeds are not interpreted as spaces and small width
     *    causes content to wrap 1 word per line:
     *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
     */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
     * Extends the .visually-hidden class to allow the element
     * to be focusable when navigated to via the keyboard:
     * https://www.drupal.org/node/897638
     */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
     * Hide visually and from screen readers, but maintain layout
     */

.invisible {
  visibility: hidden;
}

/*
     * Clearfix: contain floats
     *
     * The use of `table` rather than `block` is only necessary if using
     * `::before` to contain the top-margins of child elements.
     */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
       EXAMPLE Media Queries for Responsive Design.
       These examples override the primary ('mobile first') styles.
       Modify as content requires.
       ========================================================================== */

@media only screen and (min-width: 768px) {
  .content-wrapper {
    max-width: 640px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  header {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  nav {
    margin: 0 0 80px 0;
  }

  #work {
    padding-top: 80px;
  }

  #skills {
    padding-bottom: 80px;
  }

  footer {
    padding: 80px 0;
  }

  #about {
    padding: 80px 0;
  }

  footer {
    padding-bottom: 80px;
  }

  h2 {
    margin-top: 80px;
  }

  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 60px 0;
  }

  #skills {
    padding-top: 80px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  #skills h4 {
    margin: 40px 0 20px 0;
  }

  .about-info h3 {
    margin: 80px 0;
  }

  .about-info h4 {
    margin: 0 0 60px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 80px 0;
  }

  header .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
  }

  header nav ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .home-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .home-title h2 {
    max-width: 80%;
  }

  .portfolio-wrapper {
    justify-content: space-around;
  }

  .home-portfolio-piece {
    width: 45%;
    align-items: center;
  }

  .project-description {
    width: 95%;
  }

  .language-wrapper,
  .tool-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-flow: row wrap;
    text-transform: uppercase;
  }

  .skill,
  .tool {
    width: 45%;
  }

  .language-wrapper p,
  .tool-wrapper p {
    padding: 15px 0;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  #about figure {
    width: 60%;
  }

  .about-info h4 {
    text-align: left;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-between;
  }

  footer .social-icons {
    width: 12.5em;
    justify-content: space-between;
  }

  footer .copyright {
    width: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .content-wrapper {
    max-width: 1450px;
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  .about-info h3 {
    font-size: 3.75rem;
    text-align: left;
  }

  .about-info h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }

  .project-link,
  .language-wrapper p,
  .tool-wrapper p {
    font-size: 1rem;
  }

  header {
    padding-top: 80px;
    padding-bottom: 140px;
  }

  nav {
    margin-bottom: 80px;
  }

  #work {
    padding-top: 80px;
  }

  #skills {
    padding-bottom: 120px;
  }

  #about {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  footer {
    padding: 140px 0 140px 0;
  }

  h2 {
    margin: 40px 0 0 0;
  }

  .portfolio-header {
    margin: 0 0 60px 0;
  }

  .project-description {
    margin: 0 0 30px 0;
  }

  .project-link {
    margin: 40px 0 80px 0;
  }

  #skills {
    padding-top: 120px;
  }

  #skills .content-wrapper {
    max-width: 900px;
  }

  .skills-header {
    margin-bottom: 40px;
  }

  .about-info h3 {
    margin: 0;
  }

  .about-info h4 {
    margin: 40px 0;
  }

  .about-text {
    margin: 0 0 30px 0;
  }

  .contact-info {
    margin: 80px 0 80px 0;
  }

  .contact-title {
    margin: 0 0 30px 0;
  }

  header .content-wrapper {
    justify-content: flex-end;
  }

  header nav {
    justify-content: flex-end;
    width: 45%;
  }

  nav ul li a {
    padding: 10px 10px;
  }

  nav ul li a:hover,
  nav #contact-link:hover {
    background-color: #f8c6c6;
    color: #453e4f;
    padding: 10px 10px;
    border-radius: 30px;
  }

  .home-title {
    max-width: 95%;
  }

  .home-title h2 {
    max-width: 70%;
  }

  .home-portfolio-piece {
    width: 30%;
  }

  .skill,
  .tool {
    width: 30%;
  }

  .about-content-wrapper {
    display: flex;
    justify-content: space-between;
  }

  #about figure {
    width: 35%;
    margin-top: 0;
  }

  .about-info {
    width: 58%;
  }

  footer .content-wrapper {
    max-width: 70%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
       Print styles.
       Inlined to avoid the additional HTTP request:
       https://www.phpied.com/delay-loading-your-print-css/
       ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
